<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
 <servlet-name>first</servlet-name>
 <servlet-class>com.nt.controller.FirstServlet</servlet-class>
 <security-role-ref>
 <role-name>hero</role-name> 
 <role-link>adminrole</role-link> 
 </security-role-ref>
 </servlet>
 <servlet-mapping>
 <servlet-name>first</servlet-name>
 <url-pattern>/test</url-pattern>
 </servlet-mapping>
 <security-constraint>
 <web-resource-collection>
 <web-resource-name>checked</web-resource-name>
 <url-pattern>/test</url-pattern>
<http-method>GET</http-method>
 <http-method>POST</http-method>
 </web-resource-collection>
 <auth-constraint>
 <role-name>adminrole</role-name>
 <role-name>ashokrole</role-name>
 </auth-constraint>
 </security-constraint>
 <login-config>
 <auth-method>BASIC </auth-method>
 </login-config>
 <security-role>
 <role-name>adminrole</role-name>
 </security-role>
</web-app>