<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>ServletSession1</display-name>

 <welcome-file-list>
<welcome-file>form.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>servletX</servlet-name>
<servlet-class>com.nt.controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>servletX</servlet-name>
<url-pattern>/loginurl</url-pattern>
</servlet-mapping>

<filter>
<filter-name>checkInputsInt</filter-name>
<filter-class>com.nt.filter.LoginFilter</filter-class>
</filter>

<filter-mapping>
<filter-name>checkInputsInt</filter-name>
<url-pattern>/loginurl</url-pattern>
</filter-mapping>





</web-app>